name: C++ CMake-Hello-World Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository content
        uses: actions/checkout@v2 # Checkout the repository content to github runner.
      - name: tree
        run: tree
      - name: cmake
        run: cmake -S CMake-Hello-World/src -B CMake-Hello-World/build/debug
      - name: tree
        run: tree
      - name: make
        run: make -C CMake-Hello-World/build/debug
      - name: tree
        run: tree
      - name: run executable
        run: (cd CMake-Hello-World/build/debug && ./MyProjectName)
      -name: Upload Artefact
      - run: echo hello > helloworld.txt
      - uses: actions/upload-artifact@v2
        with:
          name: my-artifact
          path: CMake-Hello-World/worldworld.txt
