name: C++ CMake-Hello-World Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository content
        uses: actions/checkout@v2 # Checkout the repository content to github runner.
      - name: tree
        run: tree
      - name: cmake
        run: cmake -S CMake-Hello-World/src -B CMake-Hello-World/build/debug
      - name: tree
        run: tree
      - name: make
        run: make -C CMake-Hello-World/build/debug
      - name: tree
        run: tree
      - name: run executable
        run: (cd CMake-Hello-World/build/debug && ./MyProjectName)
      - name: Upload Artefact
        run: (cd CMake-Hello-World/build/debug && ./MyProjectName) > CMake-Hello-World/helloworld.txt
      - name: tree
        run: tree
      - name: Hello Secret
        run: |
          echo $HELLOSEC # merely echoes the stored secret, to show how it's done! Otherwise, not neccessary here!
          mkdir -p CMake-Hello-World/secret
          echo ${{ secrets.HELLO_SECRET_KEY }} > CMake-Hello-World/secret/hellosecret$(DATETIME).txt
          tree # list
        env:
          HELLOSEC: ${{ secrets.HELLO_SECRET_KEY }}
          DATETIME: $(date +"%Y_%m_%d_%I_%M_%p")
      - uses: actions/upload-artifact@v2 # Uploads the path to the Action Build Output screen, with the name identified in name
        with:
          name: my-artifact
          path: CMake-Hello-World/helloworld.txt
      - uses: actions/upload-artifact@v2 # Uploads the path to the Action Build Output screen, with the name identified in name
        with:
          name: my-secret
          path: CMake-Hello-World/secret/hellosecret$(DATETIME).txt
      - name: Deploy
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: cmake-hello-world # This branch has to already exist
          FOLDER: CMake-Hello-World/secret
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
